body{
    background-color: antiquewhite;
    width: 1200px;
    height: 1200px;
    background-size: cover;
    font-family: "Apple Braille", serif;
    padding: 20px;
}
.page-wrapper{
    padding: 30px;
    margin: 20px;
    max-width: 1080px;
    color: rosybrown;

}
section header h1 {
    font-size: 50px;
    color: blueviolet;
    background-position: center;
}
h1,h2,h3,h4,h5,h6{
    color: rosybrown;
    border-bottom: solid 3px ;
    font-size: 30px;
}

p{
    text-align: justify;
    margin-bottom: 2px;
}
a:hover{
    color: salmon;
    text-decoration: none;
}


