body{
    width: 1200px;
    height: 1200px;
    background-size: cover;
    font-family: "Apple Braille", serif;
    padding: 20px;
    background-image: url("sfondo2.jpg");
    display: block;

}
.page-wrapper{
    padding: 30px;
    max-width: 700px;
    background-image: url("936378.jpg");
    margin: 20px 20px 30px 100px;


}
section header h1 {
    font-size: 50px;
    color: red;
    text-shadow:3px 10px black;

}
h2{
    color: chocolate;
    font-size: 37px;
    margin-inside: 30px;
}
h3,h4,h5,h6{
    color: chocolate;
    border-bottom: solid 2px ;
    font-size: 37px;
    margin-inside: 30px;
}

p{
    text-align: justify;
    margin-bottom: 2px;
    color: white;
    font-size: 18px;
}
a:hover{
    color: salmon;
    text-decoration: none;
}


